<%- include('admin-partials/header.ejs') %>

    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="/admin" class="brand-wrap">
                <img src="/assets/imgs/theme/techoasis_logo.png" class="logo" alt="Techoasis Logo">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item ">
                    <a class="menu-link" href="/admin"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/usermanagement"> <i class="icon material-icons md-person"></i>
                        <span class="text">User Management</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/product-management"> <i
                            class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Product Management</span>
                    </a>
                </li>
    
                <li class="menu-item">
                    <a class="menu-link" href="/admin/category-management"> <i class="icon material-icons md-category "></i>
    
                        <span class="text">Category Management</span>
                    </a>
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/order-management"> <i
                            class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Order Management</span>
                    </a>
                </li>
    
                <li class="menu-item">
                    <a class="menu-link" href="/admin/coupon-management"> <i
                            class="icon material-icons md-redeem coupon-icon"></i>
                        <span class="text">Coupon Management</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/sales-report">
                        <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Sales Report</span>
                    </a>
                </li>
                
            </ul>
            
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-nav ms-auto">
               <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                       class="material-icons md-apps"></i> </button>
               <ul class="nav">
                   <li class="dropdown nav-item">
                       <a class="dropdown-item text-danger" href="/admin/logout"><i
                           class="material-icons md-exit_to_app"></i>Logout</a>
                   </li>
               </ul>
           </div>
         </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Order List </h2>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row gx-3">
                        <div class="col-lg-2 col-6 col-md-3">
                            <select class="form-select">
                                <option>Show all</option>
                                <option>Pending</option>
                                <option>Processing</option>
                                <option>Shipped</option>
                                <option>Delivered</option>
                                <option>Cancelled</option>
                            </select>
                        </div>
                    </div>
                </header>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Payment Status</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Cancel Req</th>
                                    <th scope="col">Date</th>
                                    <th scope="col" class="text-end"> Action </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(const order of allOrders) { %>
                                <tr>
                                    <td><%= order.oId %></td>
                                    <td><b><%=order.user.fullname%></b></td>
                                    <td><%=order.user.email%></td>
                                    <td>₹<%=order.billTotal%></td>

                                    <% if(order.paymentStatus === "Success") { %>
                                        <td><span class="badge rounded-pill alert-success"><%=order.paymentStatus%></span></td>
                                    <% } else { %>
                                        <td><span class="badge rounded-pill alert-danger"><%=order.paymentStatus%></span></td>
                                    <% } %>

                                    <% if(order.status === "Pending" || order.status === "Cancelled" || order.status === "Returned" ) { %>
                                    <td><span class="badge rounded-pill alert-danger"><%=order.status%></span></td>
                                    <% } else if(order.status === "Delivered") { %>
                                    <td><span class="badge rounded-pill alert-success"><%=order.status%></span></td>
                                    <% } else { %>
                                    <td><span class="badge rounded-pill alert-warning"><%=order.status%></span></td>
                                    <% } %>
                                    
                                    <% if(order.requests && order.requests.length > 0) { %>
                                        <% if(order.requests[0].status === "Accepted") { %>
                                            <td><span class="badge rounded-pill alert-success"><%= order.requests[0].status %></span></td>
                                        <% } else { %>
                                            <td><span class="badge rounded-pill alert-danger"><%=order.requests[0].status%></span></td>
                                        <% } %>
                                    <% } else { %>
                                        <td><p>N/A</p></td>
                                    <% } %>
                                     
                                    <td><%- new Date(order.createdAt).toLocaleDateString('en-US', { day: '2-digit', month: '2-digit', year: 'numeric' }) %></td>
                                    <td class="text-end">
                                        <a href="/admin/order-management/order-detailed/<%= order._id %>" class="btn btn-md rounded font-sm">View</a>
                                    </td>
                                </tr>
                                <% } %>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- pagination -->
            <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                <nav aria-label="Page navigation example">
                    <ul class="d-flex justify-content-start">
                        <% if (currentPage > 1) { %>
                            <li class="page-item">
                                <a class="page-link" href="?page=<%= currentPage - 1 %>">
                                    <i class="material-icons md-chevron_left"></i>
                                </a>
                            </li>
                        <% } %>
                        <% for (let i = Math.max(1, currentPage - 2); i <= Math.min(currentPage + 2, totalPages); i++) { %>
                            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                <a class="page-link" href="?page=<%= i %>">
                                    <%= i %>
                                </a>
                            </li>
                        <% } %>
                        <% if (currentPage < totalPages) { %>
                            <li class="page-item">
                                <a class="page-link" href="?page=<%= currentPage + 1 %>">
                                    <i class="material-icons md-chevron_right"></i>
                                </a>
                            </li>
                        <% } %>
                    </ul>
                </nav>
            </div>
        </section>
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> © <a href="/">Techoasis</a>
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/vendors/select2.min.js"></script>
    <script src="/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/assets/js/main.js" type="text/javascript"></script>
</body>
</html>