
    <!-- Start Header Area -->
    <%- include('user-partials/header.ejs') %>
    <!-- End Header Area -->

    <style>
        .card {
            border: none;
        }
        .totals tr td {
            font-size: 13px;
        }
        .footer {
            background-color: #eeeeeea8;
        }
        .footer span {
            font-size: 12px;
        }
        .product-qty span {
            font-size: 12px;
            color: #dedbdb;
        }
        .div-container {
            background-color: #eeeeeea8;
        }
    </style>

    <!-- Start Navbar Area -->
    <%- include('user-partials/navbar.ejs') %>
    <!-- End Navbar Area -->

    <!-- ...:::: Start Breadcrumb Section :::... -->
    <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">Order Summary</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="/home">Home</a></li>
                                    <li class="active" aria-current="page">Order Summary</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ...:::: End Breadcrumb Section :::... -->

        <div class="container mt-5 mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-8">
                    <div class="card div-container">
                        <div class="text-left logo p-2 px-5 text-red">
                            <p>TechOasis - Order confirmation</p>
                        </div>

                        <div class="invoice p-5">
                            <h5>Your order Confirmed!</h5>
                            <div class="d-flex justify-content-start">
                                <span class="font-weight-bold pr-1">
                                        Hello <%= userName %>,
                                </span>
                                <span>
                                    You order has been confirmed and will be
                                    shipped in next two days!
                                </span>
                            </div>

                            

                            <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td class="font-weight-bold">Order Date</td>
                                            <td class="font-weight-bold">Order No</td>
                                            <td class="font-weight-bold">Payment</td>
                                            <td class="font-weight-bold">Shiping Address</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span>
                                                    <%- new Date(orderDetails.createdAt).toLocaleDateString('en-US', { day: '2-digit', month: '2-digit', year: 'numeric' }) %>
                                                </span>
                                            </td>
                                            <td>
                                                <span><%= orderDetails.oId %></span>
                                            </td>
                                            <td>
                                                <span><%= orderDetails.paymentMethod %></span>
                                            </td>
                                            <td>
                                                <span>
                                                    <%=orderDetails.deliveryAddress.houseNo%>,
                                                    <%=orderDetails.deliveryAddress.street%>,
                                                    <%=orderDetails.deliveryAddress.landmark%>,
                                                    <%=orderDetails.deliveryAddress.city%>,
                                                    <%=orderDetails.deliveryAddress.district%>
                                                    <%=orderDetails.deliveryAddress.state%>,
                                                    Pincode-<%=orderDetails.deliveryAddress.pincode%>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="border-bottom table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td class="font-weight-bold">Image</td>
                                            <td class="font-weight-bold">Product name</td>
                                            <td class="font-weight-bold">Quantity</td>
                                            <td class="font-weight-bold">price</td>
                                        </tr>
                                        <% for(const item of orderDetails.items) { %>
                                        <tr>
                                            <td class="product_thumb">
                                                <a href="/product-details/<%=item.productId%>">
                                                    <img src="/<%=item.image%>" alt="<%=item.productName%> image" style="width: 60px">
                                                </a>
                                            </td>
                                            <td class="product_name">
                                                <a href="/product-details/<%=item.productId%>">
                                                    <%=item.productName%>
                                                </a>
                                            </td>

                                            <td>
                                                <div class="detail-qty">
                                                    <span class="qty-val me-3" id="qty">
                                                        <%=item.quantity%>
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="product_total">
                                                Rs.<%=item.totalPrice%>
                                            </td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>

                            <div class="row d-flex justify-content-end">
                                <div class="col-md-5">
                                    <table class="table ">
                                        <tbody class="totals">

                                            <tr class="border-top border-bottom">
                                                <td>
                                                    <div class="text-left">
                                                        <span class="font-weight-bold">Subtotal</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-right">
                                                        <span class="font-weight-bold">Rs.<%= orderDetails.billTotal %>.00</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <p class="font-weight-bold mb-0">
                                Thanks for shopping with us!
                            </p>
                            <span>TechOasis Team</span>
                            <div>
                                <a href="/home" class="btn btn-md btn-golden">Continue Shopping</a>
                            </div><br>
                            <div>
                                <a href="/profile?tab=orders" class="btn btn-md btn-golden">View Orders</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- Start Footer Section -->
    <%- include('user-partials/footer.ejs') %>
    <!-- End Footer Section -->

    <%- include('user-partials/scripts.ejs') %>