
    <!-- Start Header Area -->
    <%- include('user-partials/header.ejs') %>
    <!-- End Header Area -->

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
     <style>
        #cancelOrderModal {
        display: none;
        position: fixed;
        z-index: 1050;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: rgba(0, 0, 0, 0.5);
    }

    #cancelOrderModal .modal-dialog {
        position: relative;
        width: auto;
        margin: 10px;
    }

    #cancelOrderModal .modal-content {
        position: relative;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
        overflow: hidden;
    }

    #cancelOrderModal .modal-header {
        padding: 10px 20px;
        border-bottom: 1px solid #ccc;
        background-color: #f0f0f0;
    }

    #cancelOrderModal .modal-body {
        padding: 20px;
    }

    #cancelOrderModal .modal-title {
        margin: 0;
        line-height: 1.5;
    }

    #cancelOrderModal .close {
        position: absolute;
        right: 15px;
        top: 10px;
        color: #000;
        opacity: 0.5;
        font-size: 1.5rem;
    }

    #cancelOrderModal .close:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    #cancelOrderModal .form-group {
        margin-bottom: 15px;
    }

    #cancelOrderModal label {
        display: block;
        margin-bottom: 5px;
    }

    #cancelOrderModal textarea {
        width: 100%;
        padding: 8px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    .btn-danger{
        background-color: red;
        color: #fff;
        border: none;
    }

     </style>

    <!-- Start Navbar Area -->
    <%- include('user-partials/navbar.ejs') %>
    <!-- End Navbar Area -->

    <!-- ...:::: Start Breadcrumb Section :::... -->
    <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">Order Summary</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="/home">Home</a></li>
                                    <li class="active" aria-current="page">Order Summary</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ...:::: End Breadcrumb Section :::... -->

    <!-- ...:::: Start Order Section :::... -->
    <div class="container mt-5 mb-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <div class="card div-container">
                    <div class="invoice p-5">
                        <% if(orderDetails.paymentStatus === "Failed") {%>
                            <span class="text-danger">Your Payment is failed, Please retry the Payment</span>
                        <% } else { %>
                            <% if (orderDetails.status === "Pending" || orderDetails.status === "Processing" ) { %>
                            <h5>Your order Confirmed!</h5>
                            <div class="d-flex justify-content-start">
                                <span class="font-weight-bold pr-1">
                                        Hello ,
                                </span>
                                <span>
                                    You order has been confirmed and will be
                                    shipped in next two days!
                                </span>
                            </div>
                            <% } else if (orderDetails.status === "Cancelled") { %>
                                <h5>Order Cancelled!</h5>
                                <div class="d-flex justify-content-start">
                                    <span class="font-weight-bold pr-1">
                                            Hello ,
                                    </span>
                                    <span>
                                        This order has been cancelled
                                    </span>
                                </div>
                            <% } else if (orderDetails.status === "Shipped") { %>
                                <h5>Order has been shipped</h5>
                                <div class="d-flex justify-content-start">
                                    <span class="font-weight-bold pr-1">
                                            Hello ,
                                    </span>
                                    <span>
                                        Order is shipped, it will reach you soon
                                    </span>
                                </div>
                            <% } else if (orderDetails.status === "Delivered") { %>
                                <h5>Order is Delivered</h5>
                                <div class="d-flex justify-content-start">
                                    <span class="font-weight-bold pr-1">
                                            Hello ,
                                    </span>
                                    <span>
                                        This order has been Delivered
                                    </span>
                                </div>
                            <% } %>
                            
                            <br>
                            <% if(orderDetails.status !== "Cancelled" && orderDetails.status !== "Delivered") { %>
                                <a href="#" class="btn btn-danger"  data-toggle="modal" data-target="#cancelOrderModal">Cancel Order</a>
                            <% } else if(orderDetails.status === "Delivered") { %>
                                <a href="#" class="btn btn-danger"  data-toggle="modal" data-target="#returnOrderModal">Return Order</a>
                            <% } %>
                        <% } %>

                        <!-- Modal for order return -->
                        <div class="modal fade" id="returnOrderModal" tabindex="-1" role="dialog" aria-labelledby="cancelOrderModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="returnOrderModalLabel">Return Order</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="returnOrderForm">
                                            <div class="form-group">
                                                <label for="returnReason">Reason for Return</label>
                                                <textarea class="form-control" id="returnReason" rows="3" required></textarea>
                                            </div>
                                            <input type="hidden" id="orderId" value="<%= orderDetails._id %>">
                                            <button type="submit" class="btn btn-md btn-golden">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Modal for order cancel -->
                        <div class="modal fade" id="cancelOrderModal" tabindex="-1" role="dialog" aria-labelledby="cancelOrderModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="cancelOrderModalLabel">Cancel Order</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="cancelOrderForm">
                                            <div class="form-group">
                                                <label for="cancellationReason">Reason for Cancellation</label>
                                                <textarea class="form-control" id="cancellationReason" rows="3" required></textarea>
                                            </div>
                                            <input type="hidden" id="orderId" value="<%= orderDetails._id %>">
                                            <button type="submit" class="btn btn-md btn-golden">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td class="font-weight-bold">Order Date</td>
                                        <td class="font-weight-bold">Order No</td>
                                        <td class="font-weight-bold">Status</td>
                                        <td class="font-weight-bold">Payment</td>
                                        <td class="font-weight-bold">Shiping Address</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span>
                                                <%- new Date(orderDetails.createdAt).toLocaleDateString('en-US', { day: '2-digit', month: '2-digit', year: 'numeric' }) %>
                                            </span>
                                        </td>
                                        <td>
                                            <span><%= orderDetails.oId %></span>
                                        </td>
                                        <td>
                                            <span><%= orderDetails.status %></span>
                                        </td>
                                        <td>
                                            <span><%= orderDetails.paymentMethod %></span>
                                        </td>
                                        <td>
                                            <span>
                                                <%=orderDetails.deliveryAddress.houseNo%>,
                                                <%=orderDetails.deliveryAddress.street%>,
                                                <%=orderDetails.deliveryAddress.landmark%>,
                                                <%=orderDetails.deliveryAddress.city%>,
                                                <%=orderDetails.deliveryAddress.district%>
                                                <%=orderDetails.deliveryAddress.state%>,
                                                Pincode-<%=orderDetails.deliveryAddress.pincode%>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="border-bottom table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td class="font-weight-bold">Image</td>
                                        <td class="font-weight-bold">Product name</td>
                                        <td class="font-weight-bold">Quantity</td>
                                        <td class="font-weight-bold">Total Price</td>
                                    </tr>
                                    <% console.log(orderDetails.items) %>
                                    <% for(const item of orderDetails.items) { %>
                                    <tr>
                                        <% console.log(item) %>
                                        <td class="product_thumb">
                                            <a href="/product-details/<%=item.productId%>">
                                                <img src="/<%=item.image%>" alt="product image" style="width: 60px"/>
                                            </a>
                                        </td>
                                        <% console.log(item.productName) %>
                                        <td class="product_name">
                                            <a href="/product-details/<%=item.productId%>">
                                                <%=item.productName%>
                                            </a>
                                        </td>

                                        <td>
                                            <div class="detail-qty">
                                                <span class="qty-val me-3" id="qty">
                                                    <%=item.quantity%>
                                                </span>
                                            </div>
                                        </td>
                                        <td class="product_total">
                                            Rs.<%=item.totalPrice%>
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>

                        <div class="row d-flex justify-content-end">
                            <div class="col-md-5">
                                <table class="table ">
                                    <tbody class="totals">
                                        <!-- <tr>
                                            <td>
                                                <div class="text-left">
                                                    <span class="text-muted">Subtotal</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-right">
                                                    <span>Rs.<%= orderDetails.billTotal %>.00</span>
                                                </div>
                                            </td>
                                        </tr> -->

                                        <tr class="border-top border-bottom">
                                            <td>
                                                <div class="text-left">
                                                    <span class="font-weight-bold">Subtotal</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="text-right">
                                                    <span class="font-weight-bold">Rs.<%= orderDetails.billTotal %>.00</span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <p class="font-weight-bold mb-0">
                            Thanks for shopping with us!
                        </p>
                        <span>TechOasis Team</span>
                        <div>
                            <a href="/home" class="btn btn-md btn-golden">Continue Shopping</a>
                        </div><br>
                        <div>
                            <a href="/profile?tab=orders" class="btn btn-md btn-golden">View Orders</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Footer Section -->
    <%- include('user-partials/footer.ejs') %>
    <!-- End Footer Section -->

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        document.getElementById('cancelOrderForm').addEventListener('submit', async function(event) {
            event.preventDefault();
    
            const orderId = document.getElementById('orderId').value;
            const reason = document.getElementById('cancellationReason').value;
    
            try {
                const response = await fetch('/api/cancel-order', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ orderId, reason }),
                });
    
                if (response.ok) {
                    alert('Cancellation request submitted successfully');
                    location.reload();
                } else {
                    const errorData = await response.json();
                    alert(`Error: ${errorData.message}`);
                }
            } catch (error) {
                alert('An error occurred. Please try again later.');
            }
        });
        document.getElementById('returnOrderForm').addEventListener('submit', async function(event) {
            event.preventDefault();
    
            const orderId = document.getElementById('orderId').value;
            const reason = document.getElementById('returnReason').value;
    
            try {
                const response = await fetch('/api/return-order', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ orderId, reason }),
                });
    
                if (response.ok) {
                    alert('Return request submitted successfully');
                    location.reload();
                } else {
                    const errorData = await response.json();
                    alert(`Error: ${errorData.message}`);
                }
            } catch (error) {
                alert('An error occurred. Please try again later.');
            }
        });
    </script>

    <%- include('user-partials/scripts.ejs') %>